
html{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(8,8,8,255) 25%, rgba(48,48,48,255) 100%);
    text-align: center;
}

body{
    width: 80%;
    display: inline-block;
    background-color:#fff;
}



.content-img{
    width: 100%;
}

.navbar-nav{
    display: flex;
}

.nav-item{
    font-size: 1.6rem;
    color: black;
    margin-left: 0.6rem;
}

.profile-icon{
    float: right;
    position: absolute;
    right: 0px;
}

.icon{
    display: inline;
}

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: center;
    margin-left: 4rem;
}



.card{
    border: 0.1rem solid rgb(197, 197, 197);
    box-shadow: 3px 5px 8px 5px rgb(156, 156, 156);
    margin: 1rem;
    margin-bottom: 5rem;
    text-align: left;
    background-color: #D0D4CA;
}

.card:hover{
    box-shadow: 0px 0px 0px 0px ;
    border: 0.1rem solid rgb(197, 197, 197)
}

.card h3{
    color: #ff0800;
}

.card-img-top{   
    border-bottom: solid 0.3rem;
}

hr {
    color: black;
    border: solid 5px;
}

a {
    text-decoration: none;
    color: black;
}

.hiddenDiv {
    display: inline-block;
    position: absolute;
    width: 25%;
    right: 12rem;
    box-shadow: 0px 0px 0px 1px black;
    border-radius: 0.6rem;
    background-color:#fff;
    z-index: 1;
}


.shopImg {
    border: solid black 1x;
    border-radius: 3rem;
    width: 500px;
    
}

.userData{
    border: solid black 1px;

    border-radius: 3rem;
    width: 500px;
    
}

#prevOrders{
    border: solid black 1px;
    border-radius: 3rem;
    margin: 7rem;
    width: 82%;
}

.grid-profile{
    display: flex;
    gap: 2rem;
    margin: 0 7rem;
}

